<div class="navbar">
    <div class="navbar-inner">
     <span class="brand">PizzaByte</span>
      <ul class="nav-pull-right">
        <li><a class="pure-button" href="/bo">Nazad na obradu</a></li>
      </ul>
    </div>
</div>

<div id="main_screen" data-bind="fadeVisible: currentWindow()=='list'">
  <div id="main_content">
    <span class="iconic-button big-iconic-button" data-bind="click: $root.addNew"><i class="icon-plus-sign">&nbsp;</i>nova</span>   
    <table class="pure-table pure-table-striped" id="pizza_select_table">
      <thead>
        <tr>
          <th>Slika</th>
          <th>Naziv i opis</th>
          <th>Cijene</th>
          <th>Uredi</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: pizzas">
        <tr data-bind="attr: {id: name + '_' + $index}">
          <th>
            <img data-bind="attr: {src: imgURL, alt:name}">
          </th>
          <td>
            <div class="sel-table-title" data-bind="text: name"></div>
            <div class="sel-table-mainbody"> 
              <span class="sel-table-description" data-bind="text: description"></span>
              <span class="sel-table-ingredients" data-bind="text: ingredients"></span>
            </div>
          </td>
          <td class="sel-table-prices">
            m: 
            <span class="sel-table-price" data-bind="text: formatPrice($data.small())"></span><br>
            v: 
            <span class="sel-table-price" data-bind="text: formatPrice($data.large())"></span><br>
            j: 
            <span class="sel-table-price" data-bind="text: formatPrice($data.jumbo())"></span><br>
          </td>
          <td>
            <span class="iconic-button big-iconic-button" data-bind="click: $root.editPizza"><i class="icon-pencil">&nbsp;</i></span>            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-wrap" id="order_detail" data-bind="fadeVisible: currentWindow()=='edit'">
  <div class="modal-mask">
    <div class="modal-content">
      <div>
        <img data-bind="attr: {src: currentPizza.pizza.imgURL, alt:currentPizza.name}">   
        <form class="pure-form pure-form-aligned">
          <fieldset id="fieldset-name">
            <div class="pure-control-group">
              <label for="userName">Naziv:</label>
              <input type="text" id="pizzaName" data-bind="value: currentPizza.pizza.name">
            </div>
            <div class="pure-control-group">
            <label for="userAddress">Slika:</label>
            <input type="text" id="pizzaImgURL" data-bind="value: currentPizza.pizza.imgURL">
            </div>
            <div class="pure-control-group">
            <label for="userPhone">Opis:</label>
            <input type="text" id="pizzaDescription" data-bind="value: currentPizza.pizza.description">
            </div>
            <div class="pure-control-group">
            <label for="userNote">Sastojci:</label>
            <input type="text" id="pizzaIngredients" data-bind="value: currentPizza.pizza.ingredients">
            </div>
            <div class="pure-control-group">
            <label for="userNote">Cijena male:</label>
            <input type="number" id="pizzaJumbo" data-bind="value: currentPizza.pizza.small">
            </div>            
            <div class="pure-control-group">
            <label for="userNote">Cijena velike:</label>
            <input type="number" id="pizzaLarge" data-bind="value: currentPizza.pizza.large">
            </div>
            <div class="pure-control-group">
            <label for="userNote">Cijena jumbo:</label>
            <input type="number" id="pizzaJumbo" data-bind="value: currentPizza.pizza.jumbo">
            </div>
          </fieldset>
        </form>      
        <div>
            <a class="pure-button orange-button" data-bind="click: $root.editCurrent">Pohrani</a>
            <a class="pure-button grey-button" href="#/">Odustani</a>
        </div>
      </div>  
    </div>
  </div>
</div>

<!-- Error modal dialog -->
<div class="modal-wrap" id="init_error_window">
  <div class="modal-mask">
    <div class="modal-content" id="error_window_content">
      <h1>Nezgodno... aplikacija nije u funkciji :(</h1>
      <p>
        Naravno, radimo sve što je u našoj moći da ju osposobimo. Vratite se kasnije.
      </p>
      <p>
        Hvala na razumijevanju!
      </p>
    </div>
  </div>
</div>

<div id="footer">
  <div id="footer_content">
    <p>(c) 2013 Elivero.com</p>
  </div>
</div>

<script type="text/javascript" src="/js/moment.hr.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>