<!-- Into screen -->
<div id="intro_screen" data-bind="fadeVisible: currentPath()=='intro'">
  <div id="intro_sidebar">
    <h1>Pizza<span id="byte">byte</span></h1>
  </div>
  <div id="intro_main">
    <div>
      <ol class="intro_bullets">
        <li>Odaberi svoje pizze</li>
        <li>Potvrdi narudžbu</li>
        <li>...</li>
        <li>Pizza!!</li>
      </ol>
      <a class="pure-button" id="start" href="#/start">Želim!!</a>
    </div>
  </div>
</div>

<!-- Order first stage -->
<div id="main_screen" data-bind="fadeVisible: currentPath()=='start'">
  <div id="main_content">
    <ol class="bullets">
      <li class="active">Odaberi broj, veličinu i vrstu pizza</li>
    </ol>
    <div id="pizza_select">
      <form class="pure-form" action="">
        <table id="order_first_stage" class="pure-table fullwidth-table auto-counting">
          <thead id="order_table_header">
            <tr>
              <th>
                <span class="iconic-button" data-bind="click: addPizza"><i class=
            "icon-plus-sign">&nbsp;</i></span>
              </th>
              <th class="size_header">Veličina
                <div class="th_desc">
                  <span>mala</span> <span>velika</span>
                  <span>jumbo</span>
                </div>
              </th>
              <th>Vrsta<br>
                <span class="th_desc">odaberite iz padajučeg izbornika ili menija</span>
              </th>
              <th>Cijena<br>
                <span class="th_desc">KM</span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody data-bind="template: { foreach: order, beforeRemove: hideOrderLine, afterAdd: showOrderLine }">
            <tr data-bind"id: 'order_' + $index">
              <td></td>
                <td class="pizza_size_select">
                  <label data-bind="attr: {for: 'small_' + ($index()+1)}">mala</label>
                  <input class="small_pizza" type="radio" value="small" data-bind="checked: pizzaSize, attr: {id: 'small_' + ($index()+1), name: 'pizza_size_' +($index()+1)}">
                  <label data-bind="attr: {for: 'large_' + ($index()+1)}">large</label>
                  <input class="large_pizza" type="radio" value="large" data-bind="checked: pizzaSize, attr: {id: 'large_' + ($index()+1), name: 'pizza_size_' +($index()+1)}">
                  <label data-bind="attr: {for: 'jumbo_' + ($index()+1)}">jumbo</label>
                  <input class="jumbo_pizza" type="radio" value="jumbo" data-bind="checked: pizzaSize, attr: {id: 'jumbo_' + ($index()+1), name: 'pizza_size_' +($index()+1)}">
              </td>
              <td class="pizza_select">
                <select data-bind="options: $root.pizzas, optionsText: 'name', value: $data.pizza"></select>
                <a class="pure-button search-button" data-bind="click: $root.menuPizza">
                <i class= "icon-reorder">&nbsp;</i></a> 
              </td>
              <td class="order_row_price" data-bind="text: formatPrice($root.pizzaPrice($data))">
              </td>
              <td>
                <span class="iconic-button red-iconic-button" data-bind="click: $root.killPizza, clickBubble: false"><i class="icon-minus-sign">&nbsp;</i></span>
              </td>
            </tr>
          </tbody>

          <thead class="tabletotal">
            <tr>
              <th colspan="3">Ukupno</th>

              <th class="order_row_price"data-bind="text: formatPrice(subTotal(order))"></th>
              <th></th>
            </tr>
          </thead>
        </table>
        <p>
          <a href="#/potvrda" class="pure-button green-button">Potvrdi</a>
          <a class="pure-button grey-button" href="#/intro">Odustani</a>
        </p>
      </form>
    </div>
  </div>
</div>

<!-- Pizza selection modal dialog -->
<div class="modal-wrap" id="pizzaselect-wrap" data-bind="fadeVisible: showPizzaMenu">
  <div class="modal-mask">
    <div class="modal-content">
      <table class="pure-table pure-table-striped" id="pizza_select_table">
        <thead>
          <tr>
            <th>Slika</th>
            <th>Naziv i opis</th>
            <th>Cijene</th>
            <th>Odaberi</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: pizzas">
          <tr data-bind="attr: {id: name + '_' + $index}">
            <th>
              <img data-bind="attr: {src: imgURL, alt:name}, click: $root.pizzaSelected">
            </th>
            <td>
              <div class="sel-table-title" data-bind="text: name"></div>
              <div class="sel-table-mainbody"> 
                <span class="sel-table-description" data-bind="text: description"></span>
                <span class="sel-table-ingredients" data-bind="text: ingredients"></span>
              </div>
            </td>
            <td class="sel-table-prices">
              m: 
              <span class="sel-table-price" data-bind="text: formatPrice(small)"></span><br>
              v: 
              <span class="sel-table-price" data-bind="text: formatPrice(large)"></span><br>
              j: 
              <span class="sel-table-price" data-bind="text: formatPrice(jumbo)"></span><br>
            </td>
            <td><span class="iconic-button big-iconic-button" data-bind="click: $root.pizzaSelected"><i class=
          "icon-ok-sign">&nbsp;</i></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Order confirmation stage -->
<div id="confirmation" data-bind="fadeVisible: currentPath()=='potvrda'">
  <div id="confirmation_content">
    <ol class="bullets">
      <li></li>
      <li class="active">Potvrdi narudžbu</li>
    </ol>
    <div>
      <div id="order_main_form">
        <form class="pure-form pure-form-aligned">
          <fieldset id="fieldset-name">
            <div class="pure-control-group">
              <label for="userName">Ime i prezime:</label>
              <input type="text" id="userName" data-bind="value: userName">
            </div>
            <div class="pure-control-group">
            <label for="userAddress">Adresa dostave:</label>
            <input type="text" id="userAddress" data-bind="value: userAddress">
            </div>
            <div class="pure-control-group">
            <label for="userPhone">Broj telefona:</label>
            <input type="text" id="userPhone" data-bind="value: userPhone">
            </div>
            <div class="pure-control-group">
            <label for="userNote">Naponena za pizzeriju:</label>
            <textarea maxlength="1024" rows="5" id="userNote" data-bind="value: userNote"></textarea>
            </div>
          </fieldset>
        </form>
        </div>
        <div class="order_summary">
          <table id="order_confirmation_stage" class="pure-table pure-table-striped fullwidth-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Veličina</th>
                <th>Pizza</th>
                <th>Cijena</th>
              </tr>
            </thead>
            <tbody class="table_rows" data-bind="foreach: order">
              <tr data-bind"id: 'order_' + $index">
                <td></td>
                <td data-bind="text: $root.sizeTranslate($data)"></td>
                <td data-bind="text: $data.pizza().name"></td>
                <td class="order_row_price" data-bind="text: formatPrice($root.pizzaPrice($data))"></td>
              </tr>
            </tbody>
            <thead class="tabletotal">
              <tr>
              <th colspan="3">Ukupno</th>
              <th class="order_row_price"data-bind="text: formatPrice(subTotal(order))"></th>
              </tr>
            </thead>
          </table>
          <p>
            <a href="#/start" class="pure-button green-button">Prepravi</a>
            <a class="pure-button orange-button" data-bind="click: $root.finalizeOrder">Naruči!</a>
            <a class="pure-button grey-button" href="#/intro">Odustani</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Error modal dialog -->
<div class="modal-wrap" id="init_error_window" data-bind="visible:initError">
  <div class="modal-mask">
    <div class="modal-content" id="error_window_content">
      <h1>Nezgodno... aplikacija nije u funkciji :(</h1>
      <p>
        Naravno, radimo sve što je u našoj moći da ju osposobimo. Vratite se kasnije.
      </p>
      <p>
        Hvala na razumijevanju!
      </p>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>