  <div id="intro_screen">
    <div id="intro_sidebar">
      <h1>Pizza<span id="byte">byte</span></h1>
    </div>

    <div id="intro_main">
      <div id="congrats">
        <h1>Sjajno!</h1>
        <h2>Narudžba je uspješno zaprimljena</h2>
        <p>
        Naše ninja osoblje već radi punom parom na pizzama. U međuvremenu, neko će nazvati broj telefona koji je dostavljen u narudžbi za dalji dogovor.
        </p>
        <h3>Buon Appetito! ;)</h3>
      </div>
    </div>
   </div>
   <script type="text/javascript">
   $(document).ready(function(){
       $('#intro_screen').fadeIn('slow'); 
   });
   </script>